.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	padding: 0 20px;
	background: var(--azul);
	color: #fff;
	border-radius: 3px 3px 0px 0px;
}

.header-title {
	font-weight: 400;
	font-size: 24px;
  padding: 1.5rem 0;
}

.header-button {
	background: none;
	font-size: 16px;
	color: #fff;
	border: none;
	cursor: pointer;
	background: #004c92;
	padding: 5px 10px;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.header-icon-button {
	font-size: 14px;
	margin: 0 10px;
}
